<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/index.css" type="text/css">
</head>
<body>
  
  <div class="topnav" id="myTopnav">
    <b>Hey <%=name%></b>
    <a href="/users/logout" class="active">Logout</a>
    <a href="#contact">Contact</a>
    <a href="posts/create">Post</a>
    <a href="/">Home</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>

  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
  </script>


  <div class="workspace">
    <div class="header">
      <h2>Blog Name</h2>
    </div>
    <div class="row">
      <div class="leftcolumn">
        <% for(let i = 0; i < posts.length; i++) { %>
          <div class="card">
            <img class="postpic" src ="/images/<%=posts[i].title%>-<%=posts[i].author%>.jpeg">
            <div class='title'><%= posts[i].title %></div>
            <div class='date'><%= posts[i].createdDate %></div>
            <form action="/posts/view" method="GET">
              <input type="hidden" id="id" name="id" value="<%= posts[i].id %>" />
              <input type="submit" value="Read More">
            </form>
            <% if (posts[i].author == user) { %>
            <form action="/posts/edit" method="GET">
              <input type="hidden" id="id" name="id" value="<%= posts[i].id %>" />
              <input type="submit" value="Edit">
            </form>
            <% } %>
            <% if (posts[i].author == user) { %>
              <form action="/posts/delete" method="POST">
                <input type="hidden" id="id" name="id" value="<%= posts[i].id %>" />
                <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this item?');">
              </form>
              <% } %>
          </div>
      <% } %>
      </div>
      <div class="rightcolumn">
        <div class="card">
          <h2>About the Developer</h2>
          <div class="fakeimg" style="height:200px;">
            <img class="devpic" src="./images/dev.jpg">
          </div>
          <p>Why does this section exist? <br> Because it can and I'm a narcissist.</p>
        </div>
        <div class="card">
          <h3>Popular Post</h3>
          <div class="fakeimg">Image</div><br>
          <div class="fakeimg">Image</div><br>
          <div class="fakeimg">Image</div>
        </div>
        <div class="card">
          <h3>Follow Me</h3>
          <div style="height: 60px; display: flex;">
            <a href="https://github.com/DebadityaPal" ><img class="icon" src="/images/github.png"></a>
            <a href="https://www.kaggle.com/debadityapal" ><img class="icon" src="/images/kaggle.png"></a>
            <a href="https://www.linkedin.com/in/debadityapal/" ><img class="icon" src="/images/linkedin.png"></a>
          </div>
        </div>
      </div>
    </div>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <script>
//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>

    <div class="footer">
      <h2>Footer</h2>
    </div>
  </div>
</body>
</html>